<div class='add-new-reminder'>
  {{input type='text' value=newTitle placeholder='Enter a title'}}
  {{input type='text' value=newBody placeholder='Enter a body'}}
  {{input type='date' value=newDate placeholder='Enter a date'}}
  <button class='submit-button' {{action "select"}}>Submit new reminder</button/>
</div>
